
    <div>
        <h3>NÁPOVĚDA</h3>

        nějaká data

        <ul>
            <li ng-click="slidePage('/about')">
                O aplikaci
            </li>

            <li ng-click="slidePage('/rozvrh')">
                Rozvrh
            </li>
        </ul>


        <a href="/about" data-role="button" data-icon="home" data-iconpos="left" data-inline="true">AAA</a>
        <a href="/partials/o-aplikaci.html" data-role="button" data-icon="home" data-iconpos="left" data-inline="true">BBB</a>

    </div>
