<div data-role="page" id="newpage">

    <header data-role="header" data-add-back-btn="true" data-back-btn-text="Zpět">
        <a href="#" data-role="button">zpět</a>
        <h1>O aplikaci</h1>
    </header>

    <div class="content" data-role="content">
        <p>nějaký text ...</p>
    </div>
</div>

<script>
    //$('#newpage').page().css({"display": "block"});

</script>



<!--AAA 

<div>


    <div id="second" data-role="page">

        <header data-role="header" data-add-back-btn="true" data-back-btn-text="Zpět">
            <h1>O aplikaci</h1>
        </header>

        <div class="content" data-role="content">
            <p>nějaký text ...</p>
        </div>
    </div>


    <input type="text" ng-model="pokus" />
    <div>{{pokus}}</div>


    <script>
        //$.mobile.initializePage();
        //var xx = $("#second");

        //console.log(xx.get(0).id);

        //xx.page();


    </script>
    XXX
</div>-->