<section ng-app="solApp" id="second" data-role="page">
    <header data-role="header" data-add-back-btn="true" data-back-btn-text="Zpět">
        <h1>Škoní rok</h1>
        <button class="ui-btn-right" data-icon="check" data-iconpos="left" data-theme="b">Uložit</button>
    </header>

    <div ng-controller="SkolniRokyCtrl" class="content" data-role="content">

        <ul id="skolni-roky-list" data-role="listview" class="ui-listview-inset"></ul>


        <hr />

        <input type="text" ng-model="pokus" />
        <div>{{pokus}}</div>

        <h4 class="list-inset">Vyberte školní rok</h4>


        <ul id="skolni-roky-list2" data-role="listview" class="ui-listview-inset">

            <li class="item item-radio" ng-repeat="rok in skolniRoky">
                {{rok.OBDOBI_ID}} - {{rok.NAZEV}}
            </li>

        </ul>

    </div>

    <footer data-role="footer"><h1>hod</h1></footer>


    <script>


        //var isPhoneGap = document.URL.indexOf('http://') === -1 && document.URL.indexOf('https://') === -1;
        //if (isPhoneGap) {
        //    // PhoneGap application
        //    //var serviceURL = "http://10.0.2.2/SOLWebApi/api/";
        //    var serviceURL = "http://172.20.2.26/SOLWebApi/api/";
        //} else {
        //    // Web page
        //    var serviceURL = "http://localhost/SOLWebApi/api/";
        //}

        var serviceURL = "http://172.20.2.26/SOLWebApi/api/"


        var username = localStorage.getItem("username");
        var password = localStorage.getItem("password");


        var basicAuthHash = base64.encode(username + ":" + password); // window.btoa("ada:xx");


        //CryptoJS.enc.Base64.stringify("ada:ada");

        //var basicAuthHash = CryptoJS.MD5("ada:ada");
        //alert(basicAuthHash);

        $.ajaxSetup({
            headers: {
                'Authorization': 'Basic ' + basicAuthHash
            },
            statusCode: {
                401: function (jqXHR, textStatus, errorThrown) {
                    //self.location = '/Account/Login/';
                    //location.href = "./login.cfm";
                    $.mobile.changePage('login.html', 'slide', true, true);
                }
            }
        });


        $.getJSON(serviceURL + 'SkolniRoky', function (data) {
            var items = [];
            //console.log(data);

            $.each(data, function (index, item) {
                items.push('<li id="' + item.OBDOBI_ID + '">' + item.NAZEV + '</li>');
            });

            $('#skolni-roky-list').append(items.join(""));

            $('#skolni-roky-list').listview('refresh');
        });








        //$('#movie-list').append('<li><a href="" data-id="' + row.id + '"><img src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185'+row.poster_path+'"/><h3>' + row.title + '</h3><p>' + row.vote_average + '/10</p></a></li>'); });

        //$('#movie-list').listview('refresh');


    </script>


</section>



